.error-box {
  padding: 20px;
  background-color: rgb(251, 58, 58);
}
.album-container {
  padding-left: 10px;
  padding-right: 10px;
}
.albums {
  padding-left: 5px;
  padding-right: 5px;
}
.photos-container {
  margin-top: 10px;
  padding: 20px;
}
.redBorders {
  border: 1px solid red;
}
.title-row {
  margin-top: 10px;
}
.title {
  margin-right: 5px;
}
.thumb {
  padding: 10px;
}